In [47]:
import pandas as pd
from pymongo import MongoClient
import numpy as np
from scipy.spatial.distance import cdist

In [37]:
client = MongoClient('mongodb+srv://bnslaman999:amidst12345@cluster0.faeaq5c.mongodb.net/')
database = client['Questions_Recommendation'] 
collection = database['Questions'] 
data = list(collection.find()) 
df = pd.DataFrame(data)

In [88]:
df.head()

,_id,index,Correct Answer,Option1,Option2,Option3,Option4,Question,Topic,combined_text,combined_embedding
0,65d714fe8c30e58aaf639628,0,Work = Force * distance,Work = Force * distance,Work = mass * gravity,Work = power * time,Work = energy / time,What is the formula for calculating work?,Physics,What is the formula for calculating work? Work...,"[-0.047797423, -0.08854685, -0.051015835, 0.01..."
1,65d714ff8c30e58aaf6396e8,1,Joule,Newton,Joule,Watt,Pascal,Which of the following is a unit of energy?,Physics,Which of the following is a unit of energy? Joule,"[-0.028229078, -0.0752456, -0.03378393, 0.0300..."
2,65d714ff8c30e58aaf6397d6,2,Kinetic Energy,Potential Energy,Kinetic Energy,Thermal Energy,Electrical Energy,Which type of energy is associated with motion?,Physics,Which type of energy is associated with motion...,"[0.03129496, -0.039407365, -0.040103775, -0.02..."
3,65d714ff8c30e58aaf6398c7,3,Watt,Watt,Joule,Newton,Volt,What is the unit of power?,Physics,What is the unit of power? Watt,"[-0.018708805, -0.05350485, -0.024218328, 0.02..."
4,65d715008c30e58aaf639992,4,Application of force over a distance,Displacement in the direction of force,Force multiplied by time,Application of force over a distance,Change in velocity,"In physics, what is the definition of work?",Physics,"In physics, what is the definition of work? Ap...","[-0.019107569, -0.042003993, -0.049341734, 0.0..."

In [43]:
import tensorflow as tf
import tensorflow_hub as hub

In [44]:
embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder/4")

In [75]:
# Concatenate text from all columns
df['combined_text'] =  df['Question'] + ' ' + df['Correct Answer'] 

# Function to create embeddings
def get_embedding(text):
    return embed([text])[0].numpy()

# Apply the function to create embeddings for the combined text
df['combined_embedding'] = df['combined_text'].apply(get_embedding)

In [76]:
df

,_id,index,Correct Answer,Option1,Option2,Option3,Option4,Question,Topic,combined_text,combined_embedding
0,65d714fe8c30e58aaf639628,0,Work = Force * distance,Work = Force * distance,Work = mass * gravity,Work = power * time,Work = energy / time,What is the formula for calculating work?,Physics,What is the formula for calculating work? Work...,"[-0.047797423, -0.08854685, -0.051015835, 0.01..."
1,65d714ff8c30e58aaf6396e8,1,Joule,Newton,Joule,Watt,Pascal,Which of the following is a unit of energy?,Physics,Which of the following is a unit of energy? Joule,"[-0.028229078, -0.0752456, -0.03378393, 0.0300..."
2,65d714ff8c30e58aaf6397d6,2,Kinetic Energy,Potential Energy,Kinetic Energy,Thermal Energy,Electrical Energy,Which type of energy is associated with motion?,Physics,Which type of energy is associated with motion...,"[0.03129496, -0.039407365, -0.040103775, -0.02..."
3,65d714ff8c30e58aaf6398c7,3,Watt,Watt,Joule,Newton,Volt,What is the unit of power?,Physics,What is the unit of power? Watt,"[-0.018708805, -0.05350485, -0.024218328, 0.02..."
4,65d715008c30e58aaf639992,4,Application of force over a distance,Displacement in the direction of force,Force multiplied by time,Application of force over a distance,Change in velocity,"In physics, what is the definition of work?",Physics,"In physics, what is the definition of work? Ap...","[-0.019107569, -0.042003993, -0.049341734, 0.0..."
...,...,...,...,...,...,...,...,...,...,...,...
294,65d7155b8c30e58aaf64a2e5,294,Gravitational pull of the Moon,Gravitational pull of the Moon,Gravitational pull of the Sun,Rotation of the Earth,Solar wind,The 'Tides' are primarily caused by,Geography,The 'Tides' are primarily caused by Gravitatio...,"[0.0074434816, -0.0007897766, 0.06896837, -0.0..."
295,65d7155b8c30e58aaf64a3b6,295,Pakistan and China,Pakistan and India,India and China,Pakistan and China,Afghanistan and China,The 'Karakoram Highway' connects which two cou...,Geography,The 'Karakoram Highway' connects which two cou...,"[0.04670377, -0.020349197, -0.039603252, 0.034..."
296,65d7155b8c30e58aaf64a4b6,296,Amazon River,Amazon River,Orinoco River,Paraná River,Magdalena River,Which of the following is the longest river in...,Geography,Which of the following is the longest river in...,"[-0.047352187, -0.06174273, 0.032216385, 0.036..."
297,65d7155c8c30e58aaf64a57a,297,Israel and Jordan,Israel and Lebanon,Israel and Jordan,Jordan and Iraq,Israel and Syria,The 'Dead Sea' is located between which two co...,Geography,The 'Dead Sea' is located between which two co...,"[-0.05985993, -0.04067795, 0.050379347, 0.0621..."
298,65d7155c8c30e58aaf64a604,298,Sandstorms,Sandstorms,Snowstorms,Hurricanes,Tsunamis,The 'Gobi Desert' is known for its frequent oc...,Geography,The 'Gobi Desert' is known for its frequent oc...,"[0.06378715, 0.031648133, 0.031167634, -0.0185..."

In [77]:
vector_df = df[['index', 'combined_embedding']].copy()

# Display the resulting DataFrame
vector_df

     index                                 combined_embedding
0        0  [-0.047797423, -0.08854685, -0.051015835, 0.01...
1        1  [-0.028229078, -0.0752456, -0.03378393, 0.0300...
2        2  [0.03129496, -0.039407365, -0.040103775, -0.02...
3        3  [-0.018708805, -0.05350485, -0.024218328, 0.02...
4        4  [-0.019107569, -0.042003993, -0.049341734, 0.0...
..     ...                                                ...
294    294  [0.0074434816, -0.0007897766, 0.06896837, -0.0...
295    295  [0.04670377, -0.020349197, -0.039603252, 0.034...
296    296  [-0.047352187, -0.06174273, 0.032216385, 0.036...
297    297  [-0.05985993, -0.04067795, 0.050379347, 0.0621...
298    298  [0.06378715, 0.031648133, 0.031167634, -0.0185...

[299 rows x 2 columns]

In [73]:
import pickle

In [74]:
# Save vector_df using pickle
with open('vector_df.pkl', 'wb') as file:
    pickle.dump(vector_df, file)