In [1]:
from similarity_utils import find_top_closest_indices
import pandas as pd
import pickle

In [2]:
# Load vector_df from pickle
vector_df = pd.read_pickle('vector_df.pkl')
vector_df

     index                                 combined_embedding
0        0  [-0.03823105, -0.091509715, -0.033786055, 0.00...
1        1  [-0.047825653, -0.071580514, -0.04380819, 0.03...
2        2  [0.03246473, -0.0035147574, -0.029921677, -0.0...
3        3  [-0.049498253, -0.052300833, -0.052946348, 0.0...
4        4  [-0.031081613, -0.075505726, -0.022749301, 0.0...
..     ...                                                ...
294    294  [0.05725256, 0.0068185977, 0.060864266, 0.0112...
295    295  [0.048336647, -0.051413715, -0.012384985, 0.06...
296    296  [-0.009182682, -0.071656786, 0.002558747, 0.05...
297    297  [-0.04120891, -0.06462165, 0.016137527, 0.0748...
298    298  [0.06611539, -0.012934935, 0.0034527841, -0.01...

[299 rows x 2 columns]

In [3]:
# Example usage with your provided wrong_questions_array and questions_array
wrong_questions_array = [1, 2, 42, 190, 297, 298]
questions_array = [1, 2, 41, 42, 91, 92, 165, 166, 190, 191, 297, 298]
result = find_top_closest_indices(vector_df, wrong_questions_array, questions_array, top_k=4)

# Display the result
for index, top_indices in result.items():
    print(f"Top indices for index {index}: {top_indices}")

Top indices for index 1: [7, 21, 3, 32]
Top indices for index 2: [9, 7, 25, 43]
Top indices for index 42: [47, 39, 40, 45]
Top indices for index 190: [178, 163, 196, 167]
Top indices for index 297: [295, 262, 286, 284]
Top indices for index 298: [280, 285, 256, 261]